*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    background: linear-gradient(to right, rgb(240, 113, 67), rgb(60, 238, 191));
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: white;
    width: fit-content;
    padding: 50px;
    box-shadow: 7px 7px 10px rgb(115, 65, 155);
}

input{
    padding: 10px;
    border-radius: 5px;
}

input[type="button"]{
    background-color: rgb(240, 113, 67);
}

input[type="button"]:hover{
    background-color: rgb(60, 238, 191);
}

label{
    color: blue;
}

h1{
    color: rgb(141, 43, 232);
}

p{
    font-size: 30px;
}
